@model ApplicationUser

<tr id="@Model.Id">
    <td>
        @Html.DisplayFor(model => model.FirstName)
    </td>
    <td>
        @Html.DisplayFor(model => model.LastName)
    </td>
    <td>
        @Html.DisplayFor(model => model.RoleId)
    </td>
    <td>
        @Html.DisplayFor(model => model.Email)
    </td>

    <td>
        @Html.DisplayFor(model => model.UserName)
    </td>
    <td>
   
        
        <a href="#" onclick='EditRole("@Model.Id")'  data-toggle="modal" data-target="#myModal">Edit Role</a>


       
    </td>
</tr>

<script type="text/javascript">

    var EditRole = function (userId) {
        var userId = userId;
        var url = "/Home/EditRole?id=" + userId;
            console.log(userId)

            $("#myModalBodyDiv").load(url, function () {
                $("#myModal").modal("show");

            })

    }
</script>

